

@model MccoysStoreApp.ViewModels.StoreViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>You are in the stores! :)</h1>
    @foreach (var store in Model.StoreList)
    {
    <ul>
        <h3>@store.StoreNumber @store.StoreName</h3>
    </ul>
    
    }
</body>
</html>